:root {
    /* FONT FAMILIES */
    --ff-serif: "Roboto Mono", serif;
    
    /* FONT SIZES*/
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* COLORS */
    --color-white: rgb(255, 255, 250);
    --accent-color1: rgb(145, 47, 64);
    --accent-color2: rgb(112, 38, 50);
    --dark-color1: rgb(64, 67, 78);
    --dark-color2: rgb(8, 7, 5);
}

@media (min-width: 35em) {
    :root {
        --fs-900: 9.375rem;
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-900: 9.375rem;
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}

body {
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    min-height: 100vh;

    overflow-x: hidden;
}

.flex {
    display: flex;
}

.border{
    border: 3px solid red;
}

.text-center {
    text-align: center;
}

.primary-navigation {
    --underline-gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .9rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 40%;
        list-style: none;
        padding: min(20rem, 10vh) 2rem;
        background-color: white;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .primary-navigation.underline-indicators > .active {
        border-bottom: 0,
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 0.7rem;
        background: transparent;
        background-image: url(./assets/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/icon-close.svg);
    }
}

.primary-navigation a {
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: var(--dark-color2);
}
a:link, a:visited {
    color: var(--dark-color2);
}

a:hover {
    color: var(--accent-color1);
    font-weight: 1000;
}

.active > a {
    color: var(--accent-color1);
    font-weight: 1000;
}

.primary-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 0.9rem 0rem 0.9rem;
    background-color: white;
    /* border: 2px solid red; */
}

@media (max-width: 35rem) {
    .primary-header {
        padding: 0.9rem 0.9rem 0.9rem 0.9rem;
    }
}

.test{
    width: 300vw;
}

.nav {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    align-items: center;
}

.grid-container {
    display: grid;
    column-gap: var(--container-gap, 2em);
    grid-template-columns: 2rem repeat(2, minmax(0, 40rem)) 2rem;
}

.grid-container > *:first-child {
    grid-column: 2;
    border: 2px solid red;
}

.grid-container > *:last-child {
    grid-column: 3 mj;
    /* border: 2px solid green; */
}

.grid-flex {
    margin: auto;
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    padding-top: 2rem;
}


@media screen and (max-width: 45em) {
    .grid-flex {
        margin: auto;
        flex-direction: column;
        text-align: center;
        place-items: center;
    }

    .grid-flex * {
        max-width: 50ch;
    }
}

.flexGrid1 {
    flex: 1;
    min-width: fit-content;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.flexGrid1 > div {
    width: fit-content;
    min-width: fit-content;
    margin: auto;
}

.flexGrid2 {
    flex: 1;
    /* border: 2px solid green; */
    min-width: 0;
    height: fit-content;
    margin: auto;
}

.flexGrid2 > div {
    margin: auto;
    max-width: 40ch;
    padding-right: 1rem;
}

/* skill section */

.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    padding-bottom: 3.5rem;
    padding-top: 1.5rem;
    /* background-color: rgb(255, 248, 248); */
    background-color: #FCFCFC;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.skill-logo {
    width: 11.875rem;
    height: 11.25rem;
    margin: 1rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 20px #e9e5e3;
    padding: 20px;
    margin: 10px;
  }

@media (max-width: 50rem) {
    .skill-logo {
        width: 8rem;
        height: 8rem;
        margin: 0.3rem;
    }

    .icon-card {
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0 3px 20px #e9e5e3;
        padding: 10px;
        margin: 0px;
      } 
}

@media (max-width: 35rem) {
    .skill-logo {
        width: 5rem;
        height: 5rem;
        margin: 0.3rem;
    }

    .icon-card {
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0 3px 15px #e9e5e3;
        padding: 10px;
        margin: 0px;
      } 
} 

/* projects section */
.projects {
    padding-top: 1rem;
    /* display: flex; */
    /* max-width: 60rem; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.project-wrapper {
    /* background-color: rgb(255, 248, 248); */
    background-color: #FCFCFC;
    margin: 2rem 2rem;
    border-radius: 15px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    max-width: 60rem;
}

.project-title {
    /* padding: 1rem 1.5rem; */
}

.project-wrapper > img {
    /* margin: 0 3rem; */
    border-radius: 15px;
    margin-bottom: 1.5rem;
    /* max-width: 60rem; */
    /* padding: auto; */
    /* background-position: center center;
    background-size: cover; */
}

.pill {
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-right: 1rem;
    border-radius: 1em;
    background: var(--accent-color1);
}


/* typography */

.ff-serif { font-family: var(--ff-serif); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* UNDERLINE INDICATORS */
.underline-indicators > * {
    cursor: pointer;
    padding: 0.9rem 0;
    border: 0;
    /* border-bottom: .2rem solid hsl( var(--accent-color1) / 0 ); */
    border-bottom: .2rem solid var(--color-white);
    /* border-color: hsl( var(--dark-color1) / .5); */
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: var(--accent-color1);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"]{
    color: var(--accent-color1);
    border-color: var(--accent-color1); 
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
    
  }

  .highlight:hover {
    color: var(--accent-color1);
  }